.article {
  position: relative;
  &__header {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: $accent;
    padding-top: 32px;
    padding-bottom: 32px;
    @media (max-width: 991.98px) {
      text-align: center;
    }
    @media (max-width: 767.98px) {
      height: 84px;
    }
  }

  &__title {
    @media (max-width: 991.98px) {
      margin-bottom: 32px;
    }
  }
}
