.article {
  position: relative;
  &__header {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: $accent;
    height: 84px;
    padding-top: 32px;
    padding-bottom: 32px;

    @include media-breakpoint-down-md {
      height: 136px;
      text-align: center;
    }
    @include media-breakpoint-down-sm {
      height: 84px;
    }
  }

  &__title {
    @include media-breakpoint-down-md {
      margin-bottom: 32px;
    }
  }
}
