.button {
  width: 215px;
  padding: 20px 0;
  background-color: $accent;
  background-image: url(../svg/Rectangle.svg);
  background-repeat: no-repeat;
  text-align: center;
  font-family: $aleo;
  color: $white;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  list-style-position: 0.07em;
  text-transform: uppercase;
  border: none;
  transition: all 0.5s;

  &:hover {
    background-position-x: -100%;
    transition: all 0.5s;
    cursor: pointer;
  }

  &:active {
    background-position-x: -100%;
    background-color: lighten($color: $accent, $amount: 10%);
    transition: all 0.2s;
  }

  &--small {
    min-width: 138px;
    height: 52px;
    margin-left: -142px;
    background-color: $accent;
    text-align: center;
    border: none;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;

    &:hover {
      background-color: darken($color: $accent, $amount: 5%);
      cursor: pointer;
    }
    &:active {
      background-color: lighten($color: $accent, $amount: 10%);
      transition: all 0.2s;
    }
  }
}
