.line {
  width: 874px;
  height: 92px;
  @media (max-width: 1399.98px) {
    width: 750px;
    height: 85px;
  }
  @media (max-width: 1199.98px) {
    width: 630px;
    height: 75px;
  }

  @media (max-width: 991.98px) {
    display: none;
  }
}
