@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin v-center {
  top: 50%;
  transform: translateY(-50%);
}

@mixin h-center {
  left: 50%;
  transform: translateX(-50%);
}
