.travel {
  padding-top: 220px;
  padding-bottom: 120px;

  @include media-breakpoint-down-md {
    padding-top: 120px;
  }

  &-ad-up {
    background: url(../img/section_bg_1.png) center center no-repeat;
    background-size: cover;
  }
  &-ad-down {
    background: url(../img/section_bg_2.png) center center no-repeat;
    background-size: cover;
  }
}
