@import "bootstrap-grid.min";
@import "normalize";
@import "fonts";
@import "colors";
@import "mixin";
@import "button";
@import "title";
@import "form";
@import "menu";
@import "burger";
@import "header";
@import "text";
@import "link";
@import "article";
@import "why";
@import "steps";
@import "travel-ad";
@import "card";
@import "what";
@import "footer";
@import "social";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $white;
}
