@import "bootstrap-grid.min";
@import "normalize";
@import "button";
@import "colors";
@import "fonts";
@import "title";
@import "form";
@import "mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
